[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
flask = "*"
"flake8" = "*"
httpie = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.7.1"

[scripts]
tests = "bash -c 'flake8 && pytest -v --cov=.'"
web = "bash -c 'FLASK_APP=web FLASK_DEBUG=1 flask run'"
