<html>
    <head>
        <title>JSON PATCH TESTER</title>
        <meta charset='utf-8' />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    </head>
    <body>
        <h1>Documents</h1>
        <div id='app'>
            <span class="alert alert-primary" v-if="documentLoading">Loading…</span>
            <table v-if="!documentLoading" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>name</th>
                        <th>*</th>
                    </tr>
                </thead>
                <tr v-for="document in documents">
                    <td>{{ document }}</td>
                    <td>
                        <button
                            class="btn btn-primary btn-sm"
                            v-on:click="selectDocument(document)"
                        >select</button>
                        <button
                            class="btn btn-warning btn-sm"
                            v-on:click="deleteDocument(document)"
                        >delete</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group input-group-sm">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="new filename"
                                v-model:strip="newName" />
                            <div class="input-group-append">
                                <span class="input-group-text">.json</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button
                            class="btn btn-primary btn-sm"
                            :disabled="newName.length == 0"
                            v-on:click="createEmptyDocument(newName)"
                        >create</button>
                    </td>
                </tr>
            </table>
            <button class="btn" v-on:click="refreshList()">Refresh list</button>
            <div v-if="selectedName">
                <hr />
                <h2>Document {{ selectedName }}</h2>
                <span class="alert alert-primary" v-if="selectedLoading">Loading…</span>

                <div class="container border bg-light">
                    <br />
                    <pre><code class="html" v-html="selectedDocument"></code></pre>
                </div>
                <br />

                <h3> Commands </h3>
                <table class="table table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>operation</th>
                            <th>from</th>
                            <th>path</th>
                            <th>value</th>
                            <th>*</th>
                        </tr>
                    </thead>
                    <tr v-for="cmd, index in commands">
                        <td>
                            <select v-model="cmd.op" class="form-control form-control-sm">
                                <option>add</option>
                                <option>remove</option>
                                <option>replace</option>
                                <option>copy</option>
                                <option>move</option>
                                <option>test</option>
                            </select>
                        </td>
                        <td v-if="['move', 'copy'].indexOf(cmd.op) > -1">
                            <input
                                class="form-control form-control-sm"
                                v-model:strip="cmd.from"
                                placeholder="from" />
                        </td>
                        <td class='text-center' v-else>-</td>
                        <td>
                            <input
                                class="form-control form-control-sm"
                                v-model:strip="cmd.path"
                                placeholder="path" />
                        </td>
                        <td v-if="['remove', 'copy', 'move'].indexOf(cmd.op) == -1">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">JSON</span>
                                </div>
                                <input 
                                    class="form-control"
                                    v-model:strip="cmd.value"
                                    placeholder="value" />
                            </div>
                        </td>
                        <td class='text-center' v-else>-</td>
                        <td>
                            <button
                                class="btn btn-danger btn-sm"
                                v-on:click="deleteCommand(index)"
                            >remove</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td>
                            <button
                                class="btn btn-primary btn-sm"
                                v-on:click="addCommand()"
                            >ADD</button>
                        </td>
                    </tr>
                </table>
                <div class="alert alert-danger" v-if="error">error ;_; {{error.message}}</div>
                <button
                    class="btn btn-success"
                    v-on:click="patchDocument()"
                >Update document</button>
            </div>
        </div>
        <script>
function fetchJson(endpoint, options) {
    return fetch(endpoint, options).then(function (resp) {
        if (resp.status !== 200){
            throw new Error("wrong status: " + resp.status);
        }
        return resp.json();
    });
}

function created() {
    this.refreshList();
}

function refreshList() {
    var self = this;
    self.documents = [];
    self.documentLoading = true;
    fetchJson("/documents/").then(function (body) {
        self.documents = body;
        self.documentLoading = false;
    });
}

function selectDocument(filename) {
    var self = this;
    self.selectedLoading = true;
    self.selectedName = filename;
    self.selectedDocument = null;
    fetchJson("/documents/" + filename)
        .then(fillSelectedDocument.bind(this));
}

function fillSelectedDocument(jsonBody) {
    var rawBody = JSON.stringify(jsonBody, null, '    ');
    var hljsObj = hljs.highlight('javascript', rawBody);
    this.selectedDocument = hljsObj.value;
    this.selectedLoading = false;
    this.error = null;
    this.commands = [];
}

function deleteDocument(filename) {
    var self = this;
    self.documentLoading = true;
    fetch("/documents/" + filename, {method: "DELETE"}).then(function (resp) {
        self.documents = self.documents.filter(function (doc) {
            return doc !== filename;
        });
        self.documentLoading = false;
        if (self.selectedName == filename) {
            self.selectedName = null;
            self.selectedDocument = null;
            self.error = null;
            self.commands = [];
        }
    });
}

function createEmptyDocument(name) {
    var self = this;
    var dotIndex = name.indexOf('.');
    name = dotIndex > -1? name.substr(0, dotIndex) : name;
    var filename = name + ".json";
    self.newName = "";
    self.selectedName = filename;
    self.selectedLoading = true;
    self.documentLoading = true;
    var options = {method: "PUT", body: "{}"}
    fetchJson("/documents/" + filename, options).then(function (body) {
        self.documents.push(filename);
        self.documentLoading = false;
        self.fillSelectedDocument(body);
    });
}

function addCommand() {
    this.commands.push({
        op: "replace",
        path: "",
        value: "",
        from: ""
    });
}

function deleteCommand(index) {
    this.commands = this.commands.filter(function (_, i) { return i !== index; });
}

function patchDocument() {
    var commands = prepareCommandsToSend(this.commands);
    if (commands === null) {
        return;
    }
    this.selectedLoading = true;
    var options = {method: 'PATCH', body: JSON.stringify(commands)};
    var self = this;
    fetchJson("/documents/" + this.selectedName, options)
        .then(this.fillSelectedDocument.bind(this))
        .catch(function (err) { self.error = err; self.selectedLoading = false; });
}

function prepareCommandsToSend(commands) {
    commands = JSON.parse(JSON.stringify(commands)); // deepcopy lol
    var hasErrors = false;
    commands.forEach(function (cmd, index) {
        if (['move', 'copy'].indexOf(cmd.op) == -1) {
            delete cmd.from;
        }
        if (['remove', 'copy', 'move'].indexOf(cmd.op) > -1) {
            delete cmd.value;
        } else {
            try {
                cmd.value = JSON.parse(cmd.value);
            } catch(err) {
                alert("ERROR! in " + (index + 1) + " command value:\n" + err);
                hasErrors = true;
            };
        }
    });
    return hasErrors? null : commands;
}

var data = {
    documents: [],
    documentLoading: false,
    newName: "",
    selectedName: null,
    selectedDocument: null,
    selectedLoading: false,
    error: null,
    commands: []
}

var app = new Vue({
    el: '#app',
    data: data,
    created: created,
    methods: {
        selectDocument: selectDocument,
        deleteDocument: deleteDocument,
        createEmptyDocument: createEmptyDocument,
        fillSelectedDocument: fillSelectedDocument,
        refreshList: refreshList,
        addCommand: addCommand,
        deleteCommand: deleteCommand,
        patchDocument: patchDocument
    }
});
        </script>
    </body>
</html>
